
          <tr>
            <td><%= cliente.nome %></td>
            <td><%= cliente.telefone %></td>
            <td><%= cliente.cpf %></td>
            <td><%= cliente.rg %></td>
            <td class="text-center">
              <%= link_to "Exibir", cliente, class: "btn btn-primary" %>
            </td>
          </tr>
       