<div id="<%= dom_id cliente %>" class="container mt-4">
  <div class="card  mx-auto col-6">
    <div class="card-body">
      <h5 class="card-title">Informações do Cliente</h5>

      <p class="card-text">
        <strong>Nome:</strong>
        <%= cliente.nome %>
      </p>

      <p class="card-text">
        <strong>Telefone:</strong>
        <%= cliente.telefone %>
      </p>

      <p class="card-text">
        <strong>Cpf:</strong>
        <%= cliente.cpf %>
      </p>

      <p class="card-text">
        <strong>Rg:</strong>
        <%= cliente.rg %>
      </p>
    </div>
  </div>
</div>