<!-- /*_cliente_info.html*/ -->
<td><%= cliente.nome %></td>
<td><%= cliente.telefone %></td>
<td class="d-none d-sm-table-cell"><%= cliente.email %></td>
<td class="d-none d-sm-table-cell"><%= cliente.cpf %></td>
<td class="d-none d-sm-table-cell"><%= cliente.rg %></td>
