<div class="card-body">
  <div class="row">
    <div class="col-md-6">
      <strong>Nome:</strong>
      <p><%= cliente.nome %></p>
    </div>
    <div class="col-md-6">
      <strong>Telefone:</strong>
      <p><%= cliente.telefone %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>Email:</strong>
      <p><%= cliente.email %></p>
    </div>
    <div class="col-md-6">
      <strong>CPF:</strong>
      <p><%= cliente.cpf %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <strong>RG:</strong>
      <p><%= cliente.rg %></p>
    </div>
    <div class="col-md-6">
      <strong>Ações:</strong>
      <div class="d-flex mt-2">
     
        <%= link_to "Editar",  edit_cliente_path(cliente),  class: "btn btn-primary mr-3" %>
        
        <%= button_to "Deletar", cliente, method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-danger ml-3" %>
     
       </div>
    </div>
  </div>
</div>
