<!-- _form.html.erb -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= link_to "Voltar", clientes_path, class: "btn btn-danger mb-3" %>
      <div class="card">
        <div class="card-body">
          <%= form_with(model: cliente, class: "form-horizontal mx-auto") do |form| %>
            <% if cliente.errors.any? %>
              <div class="alert alert-danger">
                <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>
                <ul>
                  <% cliente.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.label :nome, class: "control-label" %>
              <div class="col-sm-12">
                <%= form.text_field :nome, class: "form-control", required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= form.label :telefone, class: "control-label" %>
              <div class="col-sm-12">
                <%= form.text_field :telefone, class: "form-control", required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= form.label :email, class: "control-label" %>
              <div class="col-sm-12">
                <%= form.text_field :email, class: "form-control", required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= form.label :rg, class: "control-label" %>
              <div class="col-sm-12">
                <%= form.text_field :rg, class: "form-control", required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= form.label :cpf, class: "control-label" %>
              <div class="col-sm-12">
                <%= form.text_field :cpf, class: "form-control", required: true %>
              </div>
            </div>

            <div class="form-group mt-3 text-center">
              <%= form.submit "Salvar", class: "btn btn-primary col-sm-12", style: "height: 8vh;" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
