<p style="color: green"><%= notice %></p>

<div class="text-center">
  <%= render @servico %>

  <div>
    <%= link_to "editar", edit_servico_path(@servico), class: "btn btn-primary" %> |
    <%= link_to "voltar", servicos_path, class: "btn btn-secondary" %>

    <%= button_to "excluir", @servico, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
  </div>
</div>
