<div class="container mt-4">
  <div class="card col-8 mx-auto">
    <div class="card-header">
      <h5 class="mb-0">Formulário de Veículo</h5>
    </div>
    <div class="card-body">
      <%= form_with(model: veiculo, class: "form") do |form| %>
        <!-- Se houver erros, exiba uma mensagem -->
        <% if veiculo.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(veiculo.errors.count, "error") %> prohibited this veiculo from being saved:</h2>
            <ul>
              <% veiculo.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <!-- Campos do formulário -->
        <div class="form-group">
          <%= form.label :modelo %>
          <%= form.text_field :modelo, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :placa %>
          <%= form.text_field :placa, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :cor %>
          <%= form.text_field :cor, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :cliente_id %>
          <%= form.collection_select(:cliente_id, @clientes, :id, :nome, { prompt: true }, { class: "form-control" }) %>
        </div>

        <!-- Botão de envio centralizado -->
        <div class="form-group text-center mt-3">
          <%= form.submit "Salvar", class: "btn btn-primary col-6" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
