
      
        <tr>
          <td><%= veiculo.modelo %></td>
          <td><%= veiculo.placa %></td>
          <td><%= veiculo.cor %></td>
          <td><%= veiculo.cliente.nome if veiculo.cliente %></td>
          <td>
           
              <%= link_to "exibir", veiculo, class: "btn btn-primary" %>
          
          </td>
        </tr>
      
   

