
          <td><%= veiculo.modelo %></td>
           <td class="d-none d-sm-table-cell"><%= veiculo.ano %></td>
          <td><%= veiculo.placa %></td>
          <td class="d-none d-sm-table-cell"><%= veiculo.cor %></td>
          <td><%= veiculo.cliente.nome if veiculo.cliente %></td>
    
