<div class="container mt-4">
  <div class="card col-8 mx-auto">
  
      <div id="<%= dom_id veiculo %>" class="card">
        <div class="card-body">
          <h5 class="card-title">Detalhes do Veículo</h5>

          <p class="card-text">
            <strong>Modelo:</strong>
            <%= veiculo.modelo %>
          </p>

          <p class="card-text">
            <strong>Placa:</strong>
            <%= veiculo.placa %>
          </p>

          <p class="card-text">
            <strong>Cor:</strong>
            <%= veiculo.cor %>
          </p>

          <p class="card-text">
            <strong>Dono:</strong>
            <%= veiculo.cliente.nome if veiculo.cliente %>
          </p>
        </div>
      </div>
    </div>
  </div>


