 <td><%= mecanico.nome %></td>
<td class="d-none d-sm-table-cell"><%= mecanico.especialidade %></td>
<td><%= mecanico.telefone %></td>
 <td class="d-none d-sm-table-cell"><%= mecanico.email %></td>
<td><%= mecanico.equipe.nome %></td>