<div class="container mt-4">
  <%= link_to 'Voltar', ordem_servicos_path, class: "btn btn-danger mt-3 mb-3" %>

  <div class="card ">
    <div class="card-body">
      <%= form_with(model: @ordem_servico, url: @ordem_servico.persisted? ? ordem_servico_path(@ordem_servico) : ordem_servicos_path, method: @ordem_servico.persisted? ? :patch : :post, html: { class: 'needs-validation', novalidate: true }) do |form| %>

       <div class="mb-3">
  <%= form.label :veiculo_id, 'Veículo', class: 'form-label' %>
  <%= form.collection_select :veiculo_id, Veiculo.all, :id, :placa, { selected: @ordem_servico.veiculo_id }, { readonly: true, class: 'form-control js-example-basic-single' } %>
</div>


        <div class="mb-3">
          <%= form.label :equipe_id, 'Equipe', class: 'form-label' %>
          <%= form.collection_select :equipe_id, Equipe.all, :id, :nome, { selected: @ordem_servico.equipe_id }, { readonly: true, class: 'form-control' } %>
        </div>

        <div class="mb-3">
          <%= form.label :problema, 'Problema', class: 'form-label' %>
          <%= form.text_area :problema, class: 'form-control' %>
        </div>

       <div class="mb-3">
        <% if @exibir_campos_servico_e_peca || @ordem_servico.persisted? %>
            <%= form.label :status, 'Status', class: 'form-label' %>
            <%= form.select :status, ['Espera', 'Andamento', 'Concluído'], { prompt: 'Selecione o status' }, { class: 'form-control' } %>
        <% end %>
            </div>


        <% if @exibir_campos_servico_e_peca && @ordem_servico.persisted? %>
        <h2>Serviços</h2>
          <%= form.fields_for :ordem_servico_servicos do |service_fields| %>
            <div class="mb-3">
              <%= service_fields.label :servico_id, 'Serviço', class: 'form-label' %>
              <%= service_fields.collection_select :servico_id, Servico.all, :id, :nome, { prompt: 'Selecione um serviço' }, { class: 'form-control' } %>
            </div>
          <% end %>
    <h2>Peças</h2>
          <%= form.fields_for :ordem_servico_pecas do |part_fields| %>
            <div class="mb-3">
              <%= part_fields.label :peca_id, 'Peça', class: 'form-label' %>
              <%= part_fields.collection_select :peca_id, Peca.all, :id, :nome, { prompt: 'Selecione uma peça' }, { class: 'form-control' } %>
            </div>

            <div class="mb-3">
              <%= part_fields.label :quantidade, 'Quantidade', class: 'form-label' %>
              <%= part_fields.number_field :quantidade, class: 'form-control' %>
            </div>
          <% end %>
        <% else %>
          <%= form.fields_for :ordem_servico_servicos do |service_fields| %>
            <%= service_fields.hidden_field :servico_id %>
          <% end %>

          <%= form.fields_for :ordem_servico_pecas do |part_fields| %>
            <%= part_fields.hidden_field :peca_id %>
            <%= part_fields.hidden_field :quantidade %>
          <% end %>
        <% end %>

        <%= form.hidden_field :valor_total %>

        <div class="mb-3 text-center">
          <%= form.submit 'Cadastrar', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Adicione os arquivos CSS e JS do Select2 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
  $(document).ready(function() {
    $('.js-example-basic-single').select2({
      minimumInputLength: 3,
      ajax: {
        url: '/ordem_servicos/search_veiculos',
        dataType: 'json',
        delay: 250,
        data: function (params) {
          return {
            q: params.term,
            page: params.page
          };
        },
        processResults: function (data) {
          return {
            results: data
          };
        },
        cache: true
      }
    });
  });
</script>
