<%= form_with(model: @ordem_servico, url: @ordem_servico.persisted? ? ordem_servico_path(@ordem_servico) : ordem_servicos_path, method: @ordem_servico.persisted? ? :patch : :post) do |form| %>

  <div class="field">
    <%= form.label :veiculo_id, 'Veículo' %>
    <%= form.collection_select :veiculo_id, Veiculo.all, :id, :placa, { selected: @ordem_servico.veiculo_id }, { readonly: true, class: 'form-control' } %>
  </div>

  <div class="field">
    <%= form.label :equipe_id, 'Equipe' %>
    <%= form.collection_select :equipe_id, Equipe.all, :id, :nome, { selected: @ordem_servico.equipe_id }, { readonly: true, class: 'form-control' } %>
  </div>

  <div class="field">
    <%= form.label :problema, 'Problema' %>
    <%= form.text_area :problema, class: 'form-control' %>
  </div>
<div class="field">
  <%= form.label :status, 'Status' %>
  <%= form.select :status, ['Recebido', 'Andamento', 'Concluído'], { prompt: 'Selecione o status' }, { class: 'form-control' } %>
</div>

  <% @ordem_servico.ordem_servico_servicos.each do |service| %>
    <%= form.fields_for :ordem_servico_servicos, service do |service_fields| %>
      <div class="field">
        <%= service_fields.label :servico_id, 'Serviço' %>
        <%= service_fields.collection_select :servico_id, Servico.all, :id, :nome, { prompt: 'Selecione um serviço' }, { class: 'form-control' } %>
      </div>
    <% end %>
  <% end %>

  <% @ordem_servico.ordem_servico_pecas.each do |part| %>
    <%= form.fields_for :ordem_servico_pecas, part do |part_fields| %>
      <div class="field">
        <%= part_fields.label :peca_id, 'Peça' %>
        <%= part_fields.collection_select :peca_id, Peca.all, :id, :nome, { prompt: 'Selecione uma peça' }, { class: 'form-control' } %>
      </div>

      <div class="field">
        <%= part_fields.label :quantidade, 'Quantidade' %>
        <%= part_fields.number_field :quantidade, class: 'form-control' %>
      </div>
    <% end %>


<% end %>


  <div class="actions">
    <%= form.submit 'Cadastrar' %>
  </div>
<% end %>