<div class="container mt-4">
  <h1 class="mb-4">Ordens de Serviço</h1>
    <%= link_to 'Nova Ordem de Serviço', new_ordem_servico_path, class: 'btn btn-primary' %>
  <table class="table table-striped table-bordered-dark">
    <thead class="table-dark">
      <tr>
        <th>Veículo</th>
        <th>Problema</th>
        <th>Equipe</th>
        <th>Status</th> 
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @ordem_servicos.each do |ordem_servico| %>
        <tr>
          <td><%= ordem_servico.veiculo.placa %></td>
          <td><%= ordem_servico.problema_veiculo %></td>
          <td><%= ordem_servico.equipe.nome %></td>
          <td><%= ordem_servico.status %></td> 
          <td>
            <%= link_to ordem_servico, class:"text-decoration-none" do %>
            <i class="fa-solid fa-eye link-dark "></i>
         <%end%>
            <%= link_to  edit_ordem_servico_path(ordem_servico),  class:"text-decoration-none " do%>
            <i class="fa-solid fa-pen link-dark"></i>
             <%end%>
          <i class="fa-solid fa-trash"></i>
           

            <%= form_tag(update_status_ordem_servico_path(ordem_servico), method: :patch, class: 'd-inline') do %>
              <%= select_tag 'status', options_for_select(['Recebido', 'Em Andamento', 'Concluído'], ordem_servico.status), class: 'form-select form-select-sm d-inline' %>
              <div class="mt-2">
              <%= button_tag(type: "submit" ) do %>
                <i class="fa-solid fa-sync "></i>
                    <% end %>
                    </div>
            <% end %>
            
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
<style>
  /* Adicione este bloco de estilo para personalizar as bordas */
  .table-bordered-dark tbody tr,
  .table-bordered-dark thead tr {
    border-color: #000;
  }
  .table-bordered-dark th,
  .table-bordered-dark td {
    border: 1px solid #000;
  }
</style>